postcode-workplacezone-lookup.csv filter=lfs diff=lfs merge=lfs -text
workplacezoneUK.geojson filter=lfs diff=lfs merge=lfs -text
Workplace_Zones_(December_2011)_Boundaries_EW.geojson filter=lfs diff=lfs merge=lfs -text
